<%- include('header'); -%>

<!-- Card for Books -->

<div class="container flex-container">

<%  books.forEach(function(book){   %>
  
    <div class="card" style="width: 18rem;">
    <img src="img/book.png" class="card-img-top" alt="..." `>
    <div class="card-body">
      <h5 class="card-title"><%= book.title %></h5>
      <p class="card-text"><%= book.description %></p>
      <a href="/elibrary/<%= book.title %>" class="btn btn-primary">Read More</a>
    </div>
  </div>
  
<% })  %>
</div>

<%- include('footer'); -%>
